

    <script>
        $(document).ready(function() {
            $('#search-box').on('keyup', function() {
                var value = $(this).val().toLowerCase();
                $('.user-row').filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            // Get CSRF token from meta tag
            function getCsrfToken() {
                return $('meta[name="csrf-token"]').attr('content');
            }
            
            $('#createUserBtn').on('click', function() {
                var email = $('#inputEmail').val();
                var password = $('#inputPassword').val();

                // Perform validation here if needed

                // Perform AJAX request to create user
                $.ajax({
                    type: 'POST',
                    url: '/create-user/',
                    data: {
                        'email': email,
                        'password': password
                    },
                    headers: {
                        'X-CSRFToken': getCsrfToken()
                    },
                    success: function(response) {
                        console.log(response);
                        // Close the modal
                        $('#createUserModal').modal('hide');
                        // Refresh the page or perform any other actions as needed
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                        // Handle errors here if needed
                    }
                });
            });

            // Show context menu when a user row is clicked
            $('.user-row').on('contextmenu', function(e) {
                e.preventDefault();

                
                var contextMenu = $('#contextMenu');
                var userId = $(this).data('user-id');
                var userEmail = $(this).data('user-email');
                var userAccountType = $(this).data('user-account');

                // Update context menu text based on account type
                var changeUserTypeText = userAccountType === 'premium' ? 'Set as Free User' : 'Set as Premium User';
                $('#changeUserType').text(changeUserTypeText);

                contextMenu.css({
                    display: 'block',
                    top: e.pageY + 'px',
                    left: e.pageX + 'px'
                });
                contextMenu.data('user-id', userId);
                contextMenu.data('user-email', userEmail);
                contextMenu.data('user-account', userAccountType);
                contextMenu.find('.context-menu-header').text(userEmail);
            
            });

            // Hide context menu when clicked outside
            $(document).on('click', function(e) {
                if (!$(e.target).closest('.context-menu').length) {
                    $('#contextMenu').hide();
                }
            });

            // Handle change user type action
            $('#changeUserType').on('click', function() {
                var userId = $('#contextMenu').data('user-id');
                var currentAccountType = $('#contextMenu').data('user-account');
                var newAccountType = currentAccountType === 'premium' ? 'free' : 'premium';

                $.ajax({
                    type: 'POST',
                    url: '/set-user-account-type/',
                    data: {
                        'user_id': userId,
                        'account_type': newAccountType
                    },
                    headers: {
                        'X-CSRFToken': getCsrfToken()
                    },
                    success: function(response) {
                        console.log(response);
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
                $('#contextMenu').hide();
            });

            // Handle delete user action
            $('#deleteUser').on('click', function() {
                var userId = $('#contextMenu').data('user-id');
                $('#deleteUserModal').css('display', 'flex');
                $.ajax({
                    type: 'POST',
                    url: '/delete-user/',
                    data: {'user_id': userId},
                    headers: {
                        'X-CSRFToken': getCsrfToken()
                    },
                    success: function(response) {
                        console.log(response);
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
                $('#contextMenu').hide();
            });

            // Handle reset password action
            $('#resetPassword').on('click', function() {
                var userEmail = $('#contextMenu').data('user-email');
                // Show the loading modal
                $('#loadingModal').css('display', 'flex');
                $.ajax({
                    type: 'POST',
                    url: '/reset-password/',
                    data: {'email': userEmail},
                    headers: {
                        'X-CSRFToken': getCsrfToken()
                    },
                    success: function(response) {
                        console.log(response);
                        $('#loadingModal').hide();
                        setTimeout(function() {
                            alert('Password reset link has been sent to ' + userEmail);
                        }, 100);
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                    },
                    complete: function() {
                        // Hide the loading modal
                        $('#loadingModal').hide();
                    }
                
                });
                $('#contextMenu').hide();
            });
        });
    </script>