<!DOCTYPE html>
<html>
<head>
    <title>Translate Text Test</title>
    <script>
        function submitForm() {
            var text = document.getElementById('text').value;
            var targetLanguage = document.getElementById('target_language').value;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/translate/', true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function() {
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    // TODO: handle response
                    console.log(this.responseText);
                }
            }

            var data = 'text=' + encodeURIComponent(text) + '&target_language=' + encodeURIComponent(targetLanguage);
            xhr.send(data);
        }
    </script>
</head>
<body>
    <form onsubmit="event.preventDefault(); submitForm();">
        <label for="text">Text:</label><br>
        <input type="text" id="text" name="text"><br>
        <label for="target_language">Target Language:</label><br>
        <input type="text" id="target_language" name="target_language"><br>
        <input type="submit" value="Translate">
    </form>
</body>
</html>